html{
    --color-primary: rgb(224, 224, 224);
    --color-secondary: #4f26af;
    --color-third: #323456;
    --color-fourth: #ff00c8;



}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    
    

}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.mobile-nav{
    display: none;
}

.topnav {
    overflow: hidden;
    background-color: #2814587e;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
.topnav #myLinks {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: none;
}
  
.topnav a {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    font-family: "Bona Nova SC", serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-fourth);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    display: block;
}
  
.topnav .icon img {
    
    width: 300px;
    height: 150px;
}

.topnav .icon img:hover {
    scale: 110%;
    transition: 0.25s;
}
  
.topnav a:hover {
    color: beige;
    transition: 0.25s;
}
  
.nav {
    background-color:#2814587e;
    padding: 5px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.nav img {
    width: 300px;
    height: 150px;
}

.nav img:hover {
    scale: 110%;
    transition: 0.25s;
}


.nav a {
    font-family: "Bona Nova SC", serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover {
    color: beige;
    transition: 0.25s;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    align-items: center;
}


.nav>ul>li>a{
    color: var(--color-fourth)
}

.merch-shop {
    background-image: url(../source/void.webp);
    min-height: 100vh;
}

.flex-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    justify-content: center;
    
}

.flex-container p {
    color: white;
    font-size: 32px;
    align-items: center;
}

.flex-container div {
    font-size: 2em;
    margin: 20px;
    text-align: center;

}

.flex-container div img {
    float: left;
    width: 500px;
    object-fit: cover;
}

.flex-container button {
    width: 140px;
    height: 80px;
    font-weight: bold;
    background-color: var(--color-secondary);
    font-size: 24px;
    color: white;
    border-radius: 24px;
}

.flex-container button:hover {
    background-color: var(--color-fourth);
    color: #000000;
    transition: 0.25s;
}

.footer {
    color: var(--color-primary);
    position: relative;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.footer li {
    list-style-type: none;
}

.footer li img {
    align-items: center;
}

.footer img {
    float: left;
    width:  80px;
    height: 80px;
    object-fit: cover;
    padding: 20px;
    
}

.footer #copy {
    font-size: 23px;
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.footer img:hover{
    scale: 110%;
    transition: 0.25s;
}

/* MOBILE */
@media only screen and (max-width:1023px) {

    .merch-shop {
        height: 100%;
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex-container div {
        font-size: 2em;
        text-align: center;
        
    
    }

    .flex-container div img {
        width: 480px;
    }

    .mobile-nav {
        display: block;
    }

    .topnav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        display: none;
    }

    .footer {
        height: 175px;
        width: auto;
    }

    .footer #copy {
        position: absolute;
        bottom: -10px;
        margin-right: auto;
        margin-left: auto;
        font-size: 21px;
    }
}

@media only screen and (min-width:1024px) {

    .merch-shop {
        height: 100%;
        width: 100%;
    }

    .flex-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        justify-content: center;
    }

    .flex-container div {
        font-size: 2em;
        text-align: center;
    
    }

    .flex-container div img {
        width: 450px;
    }

    .mobile-nav {
        display: block;
    }

    .nav {
        display: none;
    }

    .topnav {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .footer {
        height: 175px;
        width: auto;
    }


    .footer #copy {
        position: absolute;
        bottom: -23px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width:1625px) {

    .merch-shop {
        height: 100%;
        width: 100%;
    }

    .flex-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        justify-content: center;
    }

    .flex-container div {
        font-size: 2em;
        text-align: center;
    
    }

    .flex-container div img {
        width: 450px;
    }

    .nav {
        display: block;
    }

    .topnav {
        display: none;
    }

    .footer {
        height: 175px;
        width: auto;
    }

    .footer #copy {
        position: absolute;
        bottom: -23px;
        margin-right: auto;
        margin-left: auto;
    }
}



