html{
    --color-primary: rgb(224, 224, 224);
    --color-secondary: #4f26af;
    --color-third: #323456;
    --color-fourth: #ff00c8;

}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

body {
    color: var(--color-fourth);
}

.nav-practice {
    background-image: url(../source/void.webp);
}

.border {
    min-width: 100vh;
    height: 100px;
    background-color: #ddd;
}

.nav {
    background-color:#2814587e;
    padding: 5px;
    

}

.nav img {
    width: 300px;
    height: 150px;
}

.nav img:hover {
    scale: 110%;
    transition: 0.25s;
}


.nav a {
    font-family: "Bona Nova SC", serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover {
    color: beige;
    transition: 0.25s;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    align-items: center;
}


.nav>ul>li>a{
    color: var(--color-fourth)
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #2814587e;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    font-family: "Bona Nova SC", serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-fourth);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav .icon img {
    
    width: 300px;
    height: 150px;
  }

  .topnav .icon img:hover {
    scale: 110%;
    transition: 0.25s;
    }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: beige;
    transition: 0.25s;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

@media only screen and (max-width:700px) {

    .nav {
        
        width: 100%;
    }

    .topnav .icon img {
        width: 300px; 
        height: 150px;
    }

    .nav ul {
        flex-direction: column; 
        gap: 10px;
    }

    .nav a {
        font-size: 40px; 
        margin: 50px;
    }
}
